* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.62857143;
}

#root {
  height: inherit;
}

.page-label {
  position: relative;
  margin-bottom: 50px;

  .text-label {
    font-size: 2rem;
    font-weight: 900;
    color: #FF8A00;
    position: relative;
    z-index: 1;
  }

  .underline-label {
    height: 10px;
    width: 80%;
    background: #EBEBEB;
    position: absolute;
    bottom: 10px;
  }
}

.wrapper {
  height: inherit;
  background: #FFFAE6;
  padding: 50px;

  .container {
    min-height: 500px;
    min-width: 310px;
    max-width: 1240px;
    background: #fff;
    margin: 0 auto;
    position: relative;

    .back-nav {
      padding: 30px 0 0;
      margin: 0 30px;
      display: inline-block;
      cursor: pointer;
    }

    main {
      min-height: inherit;
      display: flex;
      flex-direction: row;
    }
  }
}

// Tab Navigator
.tab-nav {
  position: absolute;
  background: #FFFAE6;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 24px;
  border: none;
  padding: 0 24px 8px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;

    li {
      padding-right: 16px;
      display: flex;
      flex-wrap: nowrap;

      div {
        cursor: pointer;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-right: 16px;

        .text {
          color: #FF8A00;
          font-weight: 700;
        }
      }

      div .tab-circle {
        background: #FBE4BD;
        color: #FF8A00;
        border-radius: 50%;
        display: inline-block;
        height: 24px;
        width: 24px;
        margin-right: 8px;

        &.active {
          background: #FF8A00;
          color: #fff;
        }

        span {
          font-size: 0.8rem;
          font-weight: 700;
          // color: #fff;
          display: block;
          text-align: center;
          margin-top: 1px;
        }
      }

      .chev-right {
        color: #FF8A00;
        font-weight: 700;
      }
    }

    li.last {
      padding-right: 0;
    }
  }
}

// Delivery
.main-content {
  flex: 1;
  padding: 30px;

  .form-box {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;

    .delivery-container,
    .dropshipper-container {
      width: 48%;
    }

    .dropshipper-container .check-box {
      height: 52.11px;
      padding-top: 20px;
      margin-bottom: 50px;

      .text {
        font-weight: 900;
      }
    }

    .input-box {
      position: relative;
      width: 100%;
      border: 1px solid #D9D9D9;
      padding: 22px 32px 6px 12px;
      margin-bottom: 16px;

      &.error {
        border: 2px solid #FF8A00;
      }

      &.valid {
        border: 2px solid #84E8B0;
      }

      &.filled input + span.placeholder,
      &.filled textarea + span.placeholder {
        transform: scale(0.7) translate(5px, -12px);
        font-weight: 900;
      }

      input, textarea {
        font-weight: 900;
        font-size: 1rem;
        color: #495055;
        width: 100%;
        border: none;
        outline:none;
      }

      textarea {
        resize: none;
      }

      span.placeholder {
        position: absolute;
        left: 8px;
        top: -1px;
        margin: 17px 0;
        padding: 0 4px;
        font-family: Roboto, sans-serif;
        color:  #6c757d;
        display: flex;
        align-items: center;
        font-size: 1rem;
        transition: all 0.2s;
        transform-origin: 0% 0%;
        background: none;
        pointer-events: none;

        &.valid.filled {
          color: #84E8B0;
        }

        &.error.filled {
          color: #FF8A00;
        }
      }

      span.valid-icon,
      span.error-icon {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 900;
      }

      span.valid-icon {
        color: #84E8B0;
      }

      span.error-icon {
        color: #FF8A00;
      }

      input:focus + span.placeholder, 
      textarea:focus + span.placeholder {
        transform: scale(0.7) translate(5px, -12px);
        font-weight: 900;
      }
    }
  }
}

// Payment
.payment-container {
  .page-label {
    margin-bottom: 30px;

    .underline-label {
      max-width: 250px;
    }
  }

  .section-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;

    .check-box {
      margin-right: 16px;
      flex-basis: 20%;
      min-width: 160px;
      border: 2px solid #EBEBEB;
      padding: 8px 14px;
      font-weight: 900;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-bottom: 12px;
      min-height: 65.5px;

      &.active {
        border-color: #49D786;
        background: #E6F9EF;
      }

      .content {  
        width: 100%;

        .text {
          font-size: 0.9rem;
          margin-bottom: -4px;

          &.only {
            font-size: 1rem;
          }
        }
      }

      .check-icon {
        color: #49D786;
      }
    }
  }
}

// Finish
.finish-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .finish-box {
    width: 35%;
    min-width: 179.89px;
  
    .page-label {
      margin-bottom: 20px;

      .underline-label {
        width: 90%;
      }
    }

    .order-box {
      margin-bottom: 30px;

      .orderID {
        font-weight: 700;
        font-size: 0.8rem;
      }

      .description {
        font-size: 0.9rem;
      }
    }

    .back-home {
      cursor: pointer;
      font-size: 0.8rem;
      font-weight: 700;
    }
  }
}

// Summary
.summary-content {
  min-width: 280px;
  padding: 30px 0;
  min-height: 280px;

  .summary-box {
    padding: 0 18px;
    height: 100%;;
    border-left: 1px solid rgba(255, 138, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: inherit;

    .top-summary {
      .top-label {
        font-size: 1.6rem;
        font-weight: 900;
        color: #FF8A00;
      }

      .bottom-label {
        font-size: 0.9rem;
      }
    }

    .delivery-estimation {
      margin: 16px 0;
    }

    .delivery-estimation,
    .payment-method {
      .divider {
        height: 2px;
        background: #EBEBEB;
        width: 35%;
        margin-bottom: 16px
      }

      .top-text {
        font-weight: 700;
      }

      .bottom-text {
        font-weight: 700;
        color: #49D786;

        .courier {
          font-size: 1.1rem;
        }
      }
    }

    .cost-box {
      display: flex;
      justify-content: space-between;

      .courier {
        font-weight: 700;
      }

      .cost {
        font-weight: 900;
      }

      &.total {
        margin: 16px 0;

        .total {
          font-size: 1.4rem;
          font-weight: 900;
          color: #FF8A00;
        }
      }

      button {
        width: 100%;
        padding: 16px 0;
        font-size: 1.1rem;
        font-weight: 700;
        color: #fff;
        background: #FF8A00;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1065px) {
  .page-label {
    .text-label {
      font-size: 1.5rem;
    }
  
    .underline-label {
      bottom: 5px;
    }
  }

  .main-content {
    .form-box {
      .dropshipper-container .check-box {
        height: 39.08px;
      }
    }
  }
}

@media (max-width: 908px) {
  .page-label {
    .text-label {
      font-size: 1.6rem;
    }
  
    .underline-label {
      bottom: 7px;
    }
  }

  .wrapper{
    .container {
      main {
        flex-direction: column;
      }
    }
  }

  // Summary
  .summary-content {
    .summary-box {
      border-left: none;
      padding: 0 30px;

      // .top-summary {
      //   .top-label {
      //     font-size: 1.4rem;
      //     font-weight: 900;
      //     color: #FF8A00;
      //   }
      // }
    }
  }
}

@media (max-width: 619px) {
  .wrapper {
   padding: 50px 30px;
  }

  .tab-nav {
    ul {
      li {
        font-size: 0.8rem;

        div .tab-circle {
          height: 18px;
          width: 18px;

          span {
            font-size: 0.7rem;
            margin-top: 0;
          }
        }
      }
    }
  }

  // Delivery
  .main-content {
    .form-box {
      .dropshipper-container .check-box {
        margin-bottom: 30px;
      }

      .delivery-container,
      .dropshipper-container {
        width: 100%;
      }
    }
  }
}